{% import 'macros/nav_macros.html' as nav %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/_head.html' %}
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {% block custom_head_tags %}{% endblock %}
    </head>
    <body>
        {% block nav %}
            {{ nav.render_nav(current_user, corpora=corpora) }}
        {%  endblock %}
        <div class="container-fluid" id="main-container">
            <div class="row">
              <div class="col-lg-2 bg-light" id="left-menu">
                  {%  if corpus %}
                      {{ nav.quick_nav(corpus) }}
                      {{ nav.single_corpus_nav(corpus) }}
                  {%  endif %}
              </div>
              <div class="col-lg-10">
                {% include 'partials/_flashes.html' %}
                {# When extended, the content block contains all the html of the webpage #}
                {% block content %}{% endblock %}
              </div>
            </div>
        </div>
    </body>
</html>
