{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="container">
        <div>
            <h2 class="mt-3 mb-5">{{ _('Log in') }}</h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}
            <div class="ml-3 col-sm-5">
            {{ f.begin_form(form, flashes) }}
                {{ f.render_form_field(form.email) }}
                {{ f.render_form_field(form.password) }}
                <div>
                    {{ f.render_form_field(form.remember_me) }}
                    <div>
                        <a href="{{ url_for('account.reset_password_request') }}">{{ _('Forgot password?') }}</a>
                    </div>
                </div>

                {{ f.form_message(flashes['error'], header='Something went wrong.', class='alert alert-danger') }}
                {{ f.form_message(flashes['warning'], header='Check your email.', class='alert alert-warning') }}
                {{ f.form_message(flashes['info'], header='Information', class='alert alert-info') }}
                {{ f.form_message(flashes['success'], header='Success!', class='alert alert-success') }}

                {{ f.render_form_field(form.submit) }}
            {{ f.end_form(form) }}
            </div>
        </div>
    </div>
{% endblock %}