language: python
python:
  - "3.5"
addons:
  chrome: stable
install:
  - wget -N https://chromedriver.storage.googleapis.com/2.32/chromedriver_linux64.zip -P ~/
  - unzip ~/chromedriver_linux64.zip -d ~/
  - rm ~/chromedriver_linux64.zip
  - sudo mv -f ~/chromedriver /usr/local/share/
  - sudo chmod +x /usr/local/share/chromedriver
  - sudo ln -s /usr/local/share/chromedriver /usr/local/bin/chromedriver
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install nose
# command to run tests
script:
  - nose ./tests --with-coverage
after_success:
  - coverage combine
  - coveralls