# Main components
Flask>3.0.0
Jinja2
Werkzeug
psycopg[binary]

# DB
Flask-SQLAlchemy
SQLAlchemy
sqlalchemy-utils==0.42.1

# Forms
Flask-WTF
WTForms
WTForms-SQLAlchemy

# Extensions
Flask-Login
Flask-Mail
email_validator
Flask-Compress
python-slugify
authlib
itsdangerous
flask-babel
Markdown

# Other libraries
unidecode==1.3.4 # For normalization
PyYaml

# Testing utilities
coverage
cov-core
selenium>=3.141.0
Flask-Testing
mock
regex
pytest
pytest-cov
flake8 
pytest-sugar
playwright>=1.40.0
pytest-playwright>=0.4.4