# Main components
Flask==2.1.2
Jinja2==3.1.2
Werkzeug==2.1.2

# DB
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.36

# Forms
Flask-WTF==1.0.1
WTForms==3.0.1
WTForms-SQLAlchemy~=0.3

# Extensions
Flask-Login==0.6.0
Flask-Mail==0.9.1
email_validator<2.0.0
Flask-Compress==1.12
flask-markdown==0.3
python-slugify==6.1.2
authlib~=1.0.1
itsdangerous~=2.1.2
flask-babel~=2.0.0

# Other libraries
unidecode==1.3.4 # For normalization
PyYaml==6.0 # Control list loading

# Testing utilities
coverage
cov-core==1.15.0
nose==1.3.7
selenium>=3.141.0
Flask-Testing==0.8.1
mock==4.0.3