{% extends 'layouts/base.html' %}

{% block page_title %}Control List {{control_list.name}}{% endblock %}

{% block content %}
    <div>
        <h1>{{control_list.name}}</h1>
        {%- if is_owner %}
            <p class="text-info">You are an owner of this control list</p>
            <dl>
                <dt>Owners</dt>
                {% for owner_first_name, owner_last_name, owner_id, owner_mail in control_list.owners %}
                    <dd>{{ owner_last_name }}, {{ owner_first_name }} [{{ owner_mail }}]</dd>
                {% endfor %}
            </dl>
        {% endif -%}
        {%- if can_edit %}
            <h2>Rewrite</h2>
            <p class="text-muted">The following pages are made to completely rewrite control lists. Use with caution !</p>
            <a class="btn btn-warning settings-lemma" href="{{url_for('.edit', cl_id=control_list.id, allowed_type='lemma')}}">Rewrite Lemma List</a>
            <a class="btn btn-warning settings-POS" href="{{url_for('.edit', cl_id=control_list.id, allowed_type='POS')}}">Rewrite POS List</a>
            <a class="btn btn-warning settings-morph" href="{{url_for('.edit', cl_id=control_list.id, allowed_type='morph')}}">Rewrite Morphology List</a>
        {% endif -%}
    </div>
{% endblock %}
