{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>
                <i class="fa fa-edit mr-2"></i>{{ _('Change the filters for Control List') }}
            </h2>
        </div>
        <div class="row ">
            <form method="POST">
        <ul>
                <li>
                    <label>
                        <input type="checkbox" name="punct" value="punct" {% if current_control_list.filter_punct %}checked{% endif %}>
                        Punctuation
                    </label>
                </li>
            <li>
                    <label>
                        <input type="checkbox" name="numeral" value="numeral" {% if current_control_list.filter_numeral %}checked{% endif %}>
                        Numeral
                    </label>
                </li>
            <li>
                    <label>
                        <input type="checkbox" name="metadata" value="metadata" {% if current_control_list.filter_metadata %}checked{% endif %}>
                        Metadata
                    </label>
                </li>
            <li>
                    <label>
                        <input type="checkbox" name="ignore" value="ignore" {% if current_control_list.filter_ignore %}checked{% endif %}>
                        Ignore
                    </label>
                </li>
        </ul>
        <button type="submit">Submit</button>
    </form>
        </div>
    </div>
{% endblock %}
