{% extends 'layouts/base.html' %}

{% block page_title %}Control List {{control_list.name}}{% endblock %}

{% block content %}

<h2>Edit information about {{control_list.name}}</h2>
<form method="post" action="{{url_for('control_lists_bp.information_edit', control_list_id=control_list.id)}}">
    <div class="form-group">
        <label for="cl_description">{{ _('Description') }}</label>
        <small id="cl_description_help" class="form-text text-muted">{{ _('Description of the control list') }}</small>
        <textarea aria-describedby="cl_description_help"
                  class="form-control" id="cl_description" name="cl_description">{{control_list.description  or ""}}</textarea>
    </div>
    <div class="form-group">
        <label for="cl_language">{{ _('Language') }}</label>
        <small id="cl_language_help" class="form-text text-muted">{{ _('Language, using') }}
            <a href="https://fr.wikipedia.org/wiki/Liste_des_codes_ISO_639-2">ISO 632-2</a></small>
        <input aria-describedby="cl_language_help"
                  class="form-control" id="cl_language" name="cl_language" value="{{control_list.language  or ""}}"/>
    </div>
    <div class="form-group">
        <label for="cl_bibliography">{{ _('Bibliography') }}</label>
        <small id="cl_bibliography_help" class="form-text text-muted">{{ _('Bibliography of the control list') }}</small>
        <textarea aria-describedby="cl_bibliography_help"
                  class="form-control" id="cl_bibliography" name="cl_bibliography">{{control_list.bibliography or ""}}</textarea>
    </div>
    <div class="form-group">
        <label for="cl_notes">{{ _('Guidelines') }}</label>
        <small id="cl_notes_help" class="form-text text-muted">{{ _('All the relevant information that might be of help
        about how to tag using your control list. Can link to external data and use') }} <a href="https://daringfireball.net/projects/markdown/syntax#list">markdown</a></small>
        <textarea aria-describedby="cl_notes_help"
                  class="form-control" id="cl_notes" name="cl_notes">{{control_list.notes or ""}}</textarea>
    </div>
    <button type="submit" id="submit" class="btn btn-primary">{{ _('Submit') }}</button>
</form>
{% endblock %}
