{% import 'macros/utils.html' as utils %}

{%- macro nav_control_list(control_list, admin=True) %}
    <header>
        <a id="overview_{{control_list.id}}" href="{{url_for("control_lists_bp.get", control_list_id=control_list.id)}}">{{control_list.name}}</a>
    </header>
    <div class="text-right">{{ utils.status_badge(control_list.str_public) }}</div>
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="{{url_for("control_lists_bp.information_read", control_list_id=control_list.id)}}"><i class="fa fa-book"></i> {{ _('Guidelines') }}</a></li>
    </ul>
    {{ _('Manage Lists') }}
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="{{url_for("control_lists_bp.read_allowed_values", control_list_id=control_list.id, allowed_type='lemma')}}">{{ _('Lemma') }}</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for("control_lists_bp.read_allowed_values", control_list_id=control_list.id, allowed_type='POS')}}">{{ _('POS') }}</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for("control_lists_bp.read_allowed_values", control_list_id=control_list.id, allowed_type='morph')}}">{{ _('Morphologies') }}</a></li>
    </ul>
    {{ _('Others') }}
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="{{url_for("control_lists_bp.contact", control_list_id=control_list.id)}}"><i class="fa fa-envelope"></i> {{ _('Propose changes') }}</a></li>
      {%  if control_list.can_edit() and not current_user.is_admin() %}
      <li class="nav-item"><a class="nav-link" href="{{url_for("control_lists_bp.propose_as_public", control_list_id=control_list.id)}}"><i class="fa fa-share-alt"></i> {{ _('Make public') }}</a></li>
      {% endif %}
      {%  if control_list.can_edit() or current_user.is_admin() %}
      <li class="nav-item"><a class="nav-link" href="{{url_for("control_lists_bp.rename", control_list_id=control_list.id)}}"><i class="fa fa-edit"></i> {{ _('Rename') }}</a></li>
      {% endif %}
      {%  if control_list.can_edit() or current_user.is_admin() %}
      <li class="nav-item"><a class="nav-link" href="{{url_for("control_lists_bp.information_edit", control_list_id=control_list.id)}}"><i class="fa fa-edit"></i> {{ _('Edit informations') }}</a></li>
      {% endif %}
    </ul>
{% endmacro -%}