{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>
                <i class="fa fa-share-alt mr-2"></i>{{ _('Propose the list as public list') }}
            </h2>
            <p class="form-text">{{ _('Through this form, you will contact the administrators to ask them for
            making this control list public. A public control list can not be made private again.') }}<br />{{ _('By making this
                list public, other users will be able to freely access this control list. They will be able
            to contact the administrators of this list to propose new allowed values such as lemma.') }}</p>
        </div>
        <div class="row ">
            <div class="ml-3 col-sm-6">
                {{ f.render_form(form, action=url_for('.propose_as_public', control_list_id=control_list.id)) }}
            </div>
        </div>
    </div>
{% endblock %}
