{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>
                <i class="fa fa-edit mr-2"></i>{{ _('Rename the control list') }}
            </h2>
        </div>
        <div class="row ">
            <div class="ml-3 col-sm-6">
                {{ f.render_form(form, action=url_for('.rename', control_list_id=control_list.id)) }}
            </div>
        </div>
    </div>
{% endblock %}
