
.table-changed,
.table-changed > th,
.table-changed > td {
  background-color: #bee5eb;
}

.table-hover .table-changedtable-info:hover {
  background-color: #abdde5;
}

.table-hover .table-changed:hover > td,
.table-hover .table-changed:hover > th {
  background-color: #abdde5;
}

#main-container {
  margin-top:30px;
}

#left-menu {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
#left-menu .nav-link {
  padding:2px 8px;
  font-size: 0.9em;
}
#left-menu .nav,  #left-menu head {
  margin-bottom: 8px;
}
#left-menu header > a:link,
#left-menu header > a:visited {
  color:black!important;
  font-size: 1.1em!important;
}
.tok-anc {
  color:darkgrey;
  font-size: smaller;
}