{% extends 'layouts/base.html' %}
{% import 'macros/dashboard_macros.html' as dashboard %}


{% block content %}
    <div class="container">
        {% if current_user.is_admin() %}
            <div id="admin-dashboard" class="list-group">
                <h3 class="list-group-item bg-dark text-white">{{ _('User Dashboard') }}</h3>
                        {{ dashboard.dashboard_option(_('Registered Users'), 'admin.registered_users',
                                        description=_('View and manage user accounts'), icon='fa fa-users') }}
                        {{ dashboard.dashboard_option(_('Add New User'), 'admin.new_user',
                                        description=_('Create a new user account'), icon='fa fa-user-plus') }}
                        {{ dashboard.dashboard_option(_('Invite New User'), 'admin.invite_user',
                                        description=_('Invites a new user to create their own account'),
                                        icon='fa fa-user-plus') }}

            </div>
            <div class="row">
                <div class="col-6">
                    {{ dashboard.corpora_users(current_user, dashboard_corpora) }}
                </div>
                <div class="col-6">
                    {{ dashboard.control_lists_users(current_user, dashboard_control_lists) }}
                </div>
            </div>
        {% else %}
            {{ dashboard.corpora_users(current_user, dashboard_corpora) }}
            {{ dashboard.control_lists_users(current_user, dashboard_control_lists) }}
        {% endif %}
    </div>
{% endblock %}