{% import 'macros/nav_macros.html' as nav %}
{% import 'macros/tokens_macros.html' as tokens_macros %}

{% extends 'layouts/base.html' %}

{% block content %}

<h1>{{ _('Corpus') }} {{corpus.name}} - {{ _('List of tokens') }}</h1> 

{{ nav.render_pagination(pagination=tokens, corpus_id=corpus.id, endpoint="main.tokens_correct_unallowed", allowed_type=allowed_type) }}

{{ tokens_macros.table(tokens, corpus=corpus, changed=changed, editable=True, link_back=True) }}

{{ nav.render_pagination(pagination=tokens, corpus_id=corpus.id, endpoint="main.tokens_correct_unallowed", allowed_type=allowed_type) }}

{% endblock %}