{% import 'macros/tokens_macros.html' as tokens_macros %}
{% extends 'layouts/base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('.tokens_add_row', token_id=token.id, corpus_id=corpus.id)}}" class="form col-md-9">
    <h1>{{ _('Corpus') }} {{corpus.name}} - {{ _('Add a token') }}</h1>
    <p>{{ _('This page allows you to add a token after the following one') }}</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ _('Token ID') }}</th>
                <th>{{ _('Form') }}</th>
                <th>{{ _('Context') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{token.id}}</td>
                <td>{{token.form}}</td>
                <td>{{tokens_macros.token_context(token)}}</td>
            </tr>
        </tbody>
    </table>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">{{ _('Form of the new token to insert') }}</span>
      </div>
      <input type="text" name="form"  value="" class="form-control" placeholder="Token form value" required
             aria-label="New form value" aria-describedby="basic-addon1">
    </div>

    <p>
        <button class="btn btn-danger" type="submit"><i class="fa fa-save"></i> {{ _('Record') }}</button>
        &nbsp;
        <a class="btn btn-secondary" href="{{go_back}}" id="go_back"><i class="fa fa-undo"></i> {{ _('Go back to correcting annotations') }}</a>
    </p>
</form>
{% endblock %}
