{% import 'macros/nav_macros.html' as nav %}
{% import 'macros/tokens_macros.html' as tokens_macros %}

{% extends 'layouts/base.html' %}

{% block content %}

<h1>Corpus {{corpus.name}} - Similar tokens </h1>


<div class="btn-group" role="group" aria-label="Mode of filtering">
  <a href="#" class="btn btn-outline-primary disabled">Match</a>
  <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='partial')}}" class="btn btn-outline-secondary partial {%if mode == 'partial' %}active{%endif%}">Partial</a>
  <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='complete')}}" class="btn btn-outline-secondary complete {%if mode == 'complete' %}active{%endif%}">Complete</a>
  <a href="#" class="btn btn-outline-primary disabled">Match at least</a>
  <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='lemma')}}" class="btn btn-outline-secondary lemma {%if mode == 'lemma' %}active{%endif%}">Lemma</a>
  <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='POS')}}" class="btn btn-outline-secondary POS {%if mode == 'POS' %}active{%endif%}">POS</a>
  <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='morph')}}" class="btn btn-outline-secondary morph {%if mode == 'morph' %}active{%endif%}">Morph</a>
  <a href="#" class="btn btn-outline-primary disabled">Different on</a>
  <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='lemma_ex')}}" class="btn btn-outline-secondary lemma_ex {%if mode == 'lemma_ex' %}active{%endif%}">Lemma</a>
  <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='POS_ex')}}" class="btn btn-outline-secondary POS_ex {%if mode == 'POS_ex' %}active{%endif%}">POS</a>
  <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='morph_ex')}}" class="btn btn-outline-secondary morph_ex {%if mode == 'morph_ex' %}active{%endif%}">Morph</a>

</div>

<p><small>All matches are at least a match on form.</small></p>

{{ nav.render_pagination(pagination=tokens, corpus_id=corpus.id, endpoint="main.tokens_similar_to_token", mode=mode, token_id=token.id) }}


<h2>Original token</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Form</th>
            <th>Context</th>
            <th>Lemma</th><th>POS</th><th>Morph</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{token.form}}</td>
            <td class="small">{{token.context}}</td>
            <td >{{token.lemma}}</td>
            <td >{{token.POS}}</td>
            <td >{{token.morph}}</td>
        </tr>
    </tbody>
</table>

<h2>Similar matching</h2>

<div class="main">
    {{ tokens_macros.table(tokens, corpus=corpus, editable=True, similar=False) }}
</div>

{% endblock %}
