{% import 'macros/nav_macros.html' as nav %}
{% import 'macros/tokens_macros.html' as tokens_macros %}

{% extends 'layouts/base.html' %}

{% block content %}

{% set visible = corpus.get_columns_headings() %}

    <h1 class="mt-3"><i class="fa fa-search mr-2"></i>{{ _('Corpus') }} {{ corpus.name }} - {{ _('Search tokens within the corpus') }} </h1>

    <form id="search_form" method="GET"
          action="{{ url_for('main.tokens_search_through_fields', corpus_id=corpus.id) }}">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    <label id="formHelp" for="form">{{ _('Form') }}</label>
                </th>
                {% for heading in visible %}
                    <th>
                        <label id={{ heading }}"Help" for={{ heading.lower() }}>{{ heading}}</label>
                    </th>
                {% endfor %}
            </thead>
            <tbody>
                <tr id="filter_row">
                <td>
                    <div class="form-group">
                        <input name="form" type="text" class="form-control" id="form" aria-describedby="formHelp"
                               placeholder="Enter form" value="{% if form %}{{ form }}{% endif %}"/>
                    </div>
                </td>
                {% if "Lemma" in visible %}
                <td>
                    <div class="form-group">
                        <input type="text" aria-describedby="lemmaHelp" class="form-control" id="lemma" name="lemma"
                               value="{% if lemma %}{{ lemma }}{% endif %}">
                    </div>
                </td>
                {% endif %}
                {% if "POS" in visible %}
                <td>
                    <div class="form-group">
                        <input type="text" aria-describedby="POSHelp" class="form-control" id="POS" name="POS"
                               value="{% if POS %}{{ POS }}{% endif %}">
                    </div>
                </td>
                {% endif %}
                {% if "Morph" in visible %}
                <td>
                    <div class="form-group">
                        <input type="text" aria-describedby="morphHelp" class="form-control" id="morph" name="morph"
                               value="{% if morph %}{{ morph }}{% endif %}">
                    </div>
                </td>
                {% endif %}
            </tr>
            </tbody>
        </table>

        <div class="mb-3">
            <small class="form-text text-muted">{{ _('* can be used to match partial words, eg.') }} <b>ADV*</b></small>
            <small class="form-text text-muted">{{ _('! can be used to negate a match, eg.') }} <b>!PRE</b></small>
            <small class="form-text text-muted">{{ _('| can be used to perform an OR operation, eg.') }} <b>s*t | s*s</b></small>
            <small class="form-text text-muted">{{ _('To search forms which do not contain') }} 'e': <b>! *e*</b></small>
        </div>

        <button type="submit" id="submit_search" class="btn btn-primary mb-2">{{ _('Search') }}</button>
    </form>


        {% if tokens %}

            {% if form or lemma or morph or POS %}
                <div class="mt-3">
                    <h2>{{ tokens.total }} match{% if tokens.total > 1 %}es {% endif %} found</h2>
                </div>
            {% endif %}

            <div id="result_table" class="mt-3">
                {{ nav.render_pagination(pagination=tokens, corpus_id=corpus.id, endpoint="main.tokens_search_through_fields",
                lemma=lemma, morph=morph, POS=POS, form=form, orderBy=orderBy, desc=desc,
                get_params=["lemma", "morph", "POS", "form", "orderBy", "desc"]) }}

                {{ tokens_macros.table(tokens, corpus=corpus, changed=changed, editable=True, similar=True, sortable=True, link_back=True, search_kwargs=search_kwargs, endpoint="main.tokens_search_through_fields") }}

                {{ nav.render_pagination(pagination=tokens, corpus_id=corpus.id, endpoint="main.tokens_search_through_fields",
                lemma=lemma, morph=morph, POS=POS, form=form,
                get_params=["lemma", "morph", "POS", "form", "orderBy", "desc"]) }}
            </div>

        {% endif %}
{% endblock %}
