{% import 'macros/nav_macros.html' as nav %}
{% import 'macros/tokens_macros.html' as tokens_macros %}

{% extends 'layouts/base.html' %}

{% block content %}

<h1>{{ _('Corpus') }} {{corpus.name}} - {{ _('List of tokens') }} </h1>


{{ nav.render_pagination(pagination=tokens, corpus_id=corpus.id, endpoint="main.tokens_correct") }}

{{ tokens_macros.table(tokens, corpus=corpus, changed=changed, editable=True, similar=True, current_user=current_user) }}

{{ nav.render_pagination(pagination=tokens, corpus_id=corpus.id, endpoint="main.tokens_correct") }}

{% endblock %}
