{% import 'macros/nav_macros.html' as nav %}
{% import 'macros/tokens_macros.html' as tokens_macros %}

{% extends 'layouts/base.html' %}

{% block content %}

{% set visible = corpus.displayed_columns_by_name %}

<h1>{{ _('Corpus') }} {{corpus.name}} - {{ _('Similar tokens') }} </h1>


<div class="btn-group" role="group" aria-label="Mode of filtering">
    <a href="#" class="btn btn-outline-primary disabled">Match</a>
    <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='partial')}}" class="btn btn-outline-secondary partial {%if mode == 'partial' %}active{%endif%}">{{ _('Partial') }}</a>
    <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='complete')}}" class="btn btn-outline-secondary complete {%if mode == 'complete' %}active{%endif%}">{{ _('Complete') }}</a>
    <a href="#" class="btn btn-outline-primary disabled">Match at least</a>
    {% if "lemma" in visible %}
    <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='lemma')}}" class="btn btn-outline-secondary lemma {%if mode == 'lemma' %}active{%endif%}">{{ _('Lemma') }}</a>
    {% endif %}
    {% if "POS" in visible %}
    <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='POS')}}" class="btn btn-outline-secondary POS {%if mode == 'POS' %}active{%endif%}">{{ _('POS') }}</a>
    {% endif %}
    {% if "morph" in visible %}
    <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='morph')}}" class="btn btn-outline-secondary morph {%if mode == 'morph' %}active{%endif%}">{{ _('Morph') }}</a>
    {% endif %}
    <a href="#" class="btn btn-outline-primary disabled">{{ _('Different on') }}</a>
    {% if "lemma" in visible %}
    <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='lemma_ex')}}" class="btn btn-outline-secondary lemma_ex {%if mode == 'lemma_ex' %}active{%endif%}">{{ _('Lemma') }}</a>
    {% endif %}
    {% if "POS" in visible %}
    <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='POS_ex')}}" class="btn btn-outline-secondary POS_ex {%if mode == 'POS_ex' %}active{%endif%}">{{ _('POS') }}</a>
    {% endif %}
    {% if "morph" in visible %}
    <a href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='morph_ex')}}" class="btn btn-outline-secondary morph_ex {%if mode == 'morph_ex' %}active{%endif%}">{{ _('Morph') }}</a>
    {% endif %}
</div>

<p><small>{{ _('All matches are at least a match on form.') }}</small></p>

{{ nav.render_pagination(pagination=tokens, corpus_id=corpus.id, endpoint="main.tokens_similar_to_token", mode=mode, token_id=token.id) }}


<h2>{{ _('Original token') }}</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>{{ _('Form') }}</th>
            <th>{{ _('Context') }}</th>
            {% if "lemma" in visible %}
            <th>{{ _('Lemma') }}</th>
            {% endif %}
            {% if "POS" in visible %}
            <th>{{ _('POS') }}</th>
            {% endif %}
            {% if "morph" in visible %}
            <th>{{ _('Morph') }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{token.form}}</td>
            <td class="small">{{token.context}}</td>
            {% if "lemma" in visible %}
            <td >{{token.lemma}}</td>
            {% endif %}
            {% if "POS" in visible %}
            <td >{{token.POS}}</td>
            {% endif %}
            {% if "morph" in visible %}
            <td >{{token.morph}}</td>
            {% endif %}
        </tr>
    </tbody>
</table>

<h2>{{ _('Similar matching') }}</h2>

<div class="main">
    {{ tokens_macros.table(tokens, corpus=corpus, changed=changed, editable=True, similar=False) }}
</div>

{% endblock %}