{% extends 'layouts/base.html' %}
{% import 'macros/tokens_macros.html' as tokens_macros %}

{% block custom_head_tags %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;500;600&display=swap" rel="stylesheet">
<script src="https://unpkg.com/vue@3.5.13/dist/vue.global.prod.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

{% set visible = corpus.displayed_columns_by_name %}

<h1>{{ _('Corpus') }} {{corpus.name}} - {{ _('List of tokens') }}</h1>

<h2>{{ _('Change') }}</h2>

<dl>
    <dt>{{ _('User') }}</dt>
    <dd>{{ record.user.first_name[0] }}.{{ record.user.last_name }}</dd>
    <dt>{{ _('Date') }}</dt>
    <dd class="datetime">{{record.created_on}}</dd>
</dl>

<table class="table table-bordered">
    <thead>
        <tr class="history">
            <th class="line">{{ _('Context') }}</th>
            {% if "lemma" in visible %}
            <th>{{ _('Old Lemma') }}</th>
            <th class="line">{{ _('Corr Lemma') }}</th>
            {% endif %}
            {% if "POS" in visible %}
            <th>{{ _('Previous POS') }}</th>
            <th class="line">{{ _('Actual POS') }}</th>
            {% endif %}
            {% if "morph" in visible %}
            <th>{{ _('Previous Morph') }}</th>
            <th class="line">{{ _('Actual Morph') }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr class="history">
            <td class="detail text">{{tokens_macros.token_context(record.word_token, "b")}}</td>
            {% if "lemma" in visible %}
            <td class="{% if record.lemma != record.lemma_new%}red{%endif%}">{{record.lemma}}</td>
            <td class="line {% if record.lemma != record.lemma_new%}green{%endif%}">{{record.lemma_new}}</td>
            {% endif %}
            {% if "POS" in visible %}
            <td class="{% if record.POS != record.POS_new%}red{%endif%}">{{record.POS}}</td>
            <td class="line {% if record.POS != record.POS_new%}green{%endif%}">{{record.POS_new}}</td>
            {% endif %}
            {% if "morph" in visible %}
            <td class="{% if record.morph != record.morph_new%}red{%endif%}">{{record.morph}}</td>
            <td class="line {% if record.morph != record.morph_new%}green{%endif%}">{{record.morph_new}}</td>
            {% endif %}
        </tr>
    </tbody>
</table>

<h2>{{ _('Similar matching:') }} {{record.similar_remaining}}</h2>

<div id="similar-record-table"></div>
<script type="application/json" id="pyrrha-config">{{ pyrrha_config | tojson | safe }}</script>
<script src="{{ url_for('static', filename='js/similar-record-table.js') }}"></script>

{% endblock %}
