<p>{% trans name=user.full_name() %}Dear {{ name }},{% endtrans %}</p>

<p>{% trans link=change_email_link %}To confirm your new email address <a href="{{ link }}">click here</a>.{% endtrans %}</p>

<p>{{ _("Alternatively, you can paste the following link in your browser's address bar:") }}</p>

<p>{{ change_email_link }}</p>

<p>{{ _('Sincerely,') }}</p>

<p>{{ _('The %(app)s Team', app=config.APP_NAME) }}</p>

<p><small>{{ _('Note: replies to this email address are not monitored.') }}</small></p>
