<p>{% trans name=user.full_name() %}Dear {{ name }},{% endtrans %}</p>

<p>{% trans app=config.APP_NAME %}You are invited to join <b>{{ app }}</b>!{% endtrans %}</p>

<p>{% trans link=invite_link %}To set your password, please <a href="{{ link }}">click here</a>.{% endtrans %}</p>

<p>{{ _("Alternatively, you can paste the following link in your browser's address bar:") }}</p>

<p>{{ invite_link }}</p>

<p>{{ _('Once completed, please log in as %(email)s with the password you set.', email=user.email) }}</p>

<p>{{ _('Sincerely,') }}</p>

<p>{{ _('The %(app)s Team', app=config.APP_NAME) }}</p>

<p><small>{{ _('Note: replies to this email address are not monitored.') }}</small></p>
