{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set deletion_endpoint = 'admin.delete_user_request' %}

{% set endpoints = [
    ('admin.user_info', 'User information'),
    ('admin.change_user_email', 'Change email address'),
    ('admin.change_account_type', 'Change account type'),
    ('admin.change_account_status', 'Change account status'),
    (deletion_endpoint, 'Delete user')
] %}

{% macro navigation(items) %}
    <div class="list-group">
        {% for route, name in items %}
            {% set href = url_for(route, user_id=user.id) %}
            <a class="list-group-item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro user_info(user) %}
    <form>
        <table class="table">
            <tr>
                <td>{{ _('Full name') }}</td>
                <td>{{ '%s %s' % (user.first_name, user.last_name) }}</td>
            </tr>
            <tr>
                <td>{{ _('Email address') }}</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>{{ _('Account type') }}</td>
                <td>{{ user.role.name }}</td>
            </tr>
            <tr>
              <td>{{ _('Account status') }}</td>
               <td>{{'Confirmed' if user.confirmed else 'Unconfirmed'}} </td>
            </tr>
        </table>
    </form>
{% endmacro %}

{% block content %}
    <div class="container">
        <div>
            <a class="ui basic compact button" href="{{ url_for('admin.registered_users') }}">
                <i class="caret left icon"></i>
                {{ _('Back to all users') }}
            </a>
            <h2 class="mt-3 mb-5">
                {{ user.full_name() }}
                <small class="form-text">View and manage {{ user.first_name }}’s account.</small>
            </h2>
        </div>
        <div class="row">
            {{ navigation(endpoints) }}
            <div class="ml-3 col-sm-6">
                {% if request.endpoint == deletion_endpoint %}
                    <h3 class="alert alert-danger">
                        <i class="warning circle icon"></i>
                        <div>
                            {{ _('This action is permanent') }}
                            <small class="form-text">
                                {{ _('Deleting a user account is not a reversible change. Any information associated
                                with this account will be removed, and cannot be recovered.') }}
                            </small>
                        </div>
                    </h3>

                    <div>
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>{{ _('I understand that this action cannot be undone.') }}</label>
                    </div>
                    <a class="deletion btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">{{ _('Delete
                        this user') }}</a>
                    </div>
                    </div>
                    </div>
                {% elif form %}
                    {% if request.endpoint == 'admin.change_account_status' %}
                      This account is actually {{'confirmed' if user.confirmed else 'unconfirmed'}}.
                    {% endif %}
                    {{ f.render_form(form) }}
                {% else %}
                    {{ user_info(user) }}
                {% endif %}
    </div>
    </div>
    </div>

    <script type="text/javascript">
        $('input[type=checkbox]').change(function () {
            if ($(this).prop("checked")) {
                $('.deletion.btn').removeClass('disabled')
                    .attr('href', '{{ url_for('admin.delete_user', user_id=user.id) }}');
            }
            else {
                $('.deletion.btn').addClass('disabled').removeAttr('href');
            }
        });
    </script>
{% endblock %}
