{% extends 'layouts/base.html' %}
{% import 'macros/dashboard_macros.html' as dashboard %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main.dashboard') }}">
                <i class="caret left icon"></i>
                {{ _('Back to dashboard') }}
            </a>
            <h2 class="mt-3 mb-5">
                {{ _('Registered Users') }}
                <small class="form-text">
                    {{ _('View and manage currently registered users.') }}
                </small>
            </h2>

            {{ dashboard.search_user(roles) }}
            {{ dashboard.users_table(current_user, users, redirect=True) }}
        </div>
    </div>

    {{ dashboard.insert_search_script() }}
{% endblock %}

{% block custom_head_tags  %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/sortable.min.js') }}"></script>
{% endblock %}