{% import 'macros/utils.html' as utils %}

{% macro search_user(roles) %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <select class="custom-select" id="select-role">
                {{ _('Account type') }}

                <option class="dropdown-item" value="all">{{ _('All account types') }}</option>
                {% for r in roles %}
                    <option value="{{ r.name }}">{{ r.name }}s</option>
                {% endfor %}
            </select>
        </div>
        <input id="search-users" type="text" class="form-control"
               aria-label="Text input with dropdown button" placeholder="Search users…">
    </div>
{% endmacro %}

{% macro users_table(current_user, users, redirect=False) %}
    <table class="table table-hover sortable" id="users-table">
        <thead>
        <tr>
            <th scope="col">{{ _('ID') }}</th>
            <th scope="col">{{ _('First name') }}</th>
            <th scope="col">{{ _('Last name') }}</th>
            {% if current_user.is_admin() %}
                <th scope="col">{{ _('Email address') }}</th>
            {% endif %}
            <th scope="col">{{ _('Account type') }}</th>
            {% if current_user.is_admin() %}
                <th scope="col">{{ _('Status') }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for u in users | sort(attribute='last_name') %}
            <tr style="cursor: pointer" class="u-{{ u.id }} "
                    {% if current_user.is_admin() and redirect %}
                onclick="window.location.href = '{{ url_for('admin.user_info', user_id=u.id) }}';"
                    {% endif %} >
                <td>{{ u.id }}</td>
                <td>{{ u.first_name }}</td>
                <td>{{ u.last_name }}</td>
                {% if current_user.is_admin() %}
                    <td>{{ u.email }}</td>
                {% endif %}
                <td class="user role">{{ u.role.name }}</td>
                {% if current_user.is_admin() %}
                <td>{% if u.confirmed %}<span class="px1">{{ _('Confirmed') }}</span><span class="fa fa-check-circle" aria-label="Confirmed"></span>{% else %}<span class="px1">{{ _('Not Confirmed') }}</span><span class="fa fa-circle"  aria-label="Not Confirmed"></span>{% endif %}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro insert_search_script() %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('#users-table tbody td:contains(' + searchText + ')').addClass('positive');
                    $('#users-table td.positive').not(':contains(' + searchText + ')').removeClass('positive');
                    $('#users-table tbody td').not(':contains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('#users-table tr.hidden:contains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('#users-table td.positive').removeClass('positive');
                    $('#users-table tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').change(function () {
                var text = $(this).val();
                if (text === 'all') {
                    $('#users-table tr').removeClass('hidden').show();
                }
                else {
                    $('#users-table td.user.role').each(function () {
                        if (text.indexOf($(this).text()) !== -1)
                            $(this).closest('tr').removeClass('hidden').show();
                        else
                            $(this).closest('tr').addClass('hidden').hide();
                    });
                }
            });
        });
    </script>
{% endmacro %}

{% macro dashboard_option(title, endpoint, args={},description=None, icon=None, suffix="") %}
    <a href="{{ url_for(endpoint, **args) }}" class="list-group-item list-group-item-action">
        <div class="content container">
        <div class="row">
            <div class="col-sm-0">
                {% if icon %}
                    <i class="{{ icon }}"></i>
                {% endif %}
            </div>
            <div class="col">
            <span class="title">{{ title }}</span>
            {% if description is not none %}
                <small class="form-text">
                    {{ description }}
                </small>
            {% endif %}
            {{ suffix }}
            </div>
        </div>
        </div>
    </a>
{% endmacro %}


{% macro corpora_users(current_user, corpora) %}
    <div class="mt-5">
        <h2>{{ _('View and manage corpora users') }}</h2>
        <p class="form-text">{{ _('Add or remove corpus access to users') }}</p>
        {% if current_user.is_admin() %}
            <a href="{{ url_for("main.list_corpora") }}">{{ _('See all as administrator') }}</a>
        {% elif corpora|length > 10 %}
            <a href="{{ url_for("main.list_corpora") }}">{{ _('More detailed view...') }}</a>
        {% endif %}
        <div id="corpora-dashboard" class="list-group">
            <h3 class="list-group-item bg-dark text-white">{{ _('Corpora') }}</h3>
            {% for corpus in corpora %}
                {{ dashboard_option(corpus.name,
                                    'main.manage_corpus_users', args={"corpus_id": corpus.id},
                                    icon="fa fa-file-text") }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro control_lists_users(current_user, control_lists) %}
    <div class="mt-5">
        <h2>{{ _('View and manage corpora users') }}</h2>
        <p class="form-text">{{ _('Add or remove corpus access to users') }}</p>

        <div id="control_lists-dashboard" class="list-group">
            <h3 class="list-group-item bg-dark text-white">{{ _('Control Lists') }}</h3>
            {% for cl in control_lists %}
                {{ dashboard_option(cl.name,
                                    'main.manage_control_lists_user', args={"cl_id": cl.id},
                                    icon="fa fa-th-list", suffix=utils.status_badge(cl.str_public))}}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro show_dashboard_for(post_endpoint, post_kwargs, managed_item, read_endpoint, read_kwargs, current_user, users, roles, item_type_name, can_edit, can_read) %}
<div class="container" id="main-container">
    <div id="flash" class="">

    </div>
    <div class="mt-2">
        <a href="{{ url_for("main.dashboard") }}">{{ _('Back to dashboard') }}</a>
    </div>

    <form method="POST" id="accesses-form"
          action="{{ url_for(post_endpoint, **post_kwargs) }}">
        <div class="mt-3">
            {% if can_edit %}
                <h2><i class="fa fa-users mr-2"></i> {{ _('View and manage') }} {{ item_type_name }} {{ _('users') }}</h2>
                <p class="form-text">{{ _('Add or remove') }} {{ item_type_name }} {{ _('access to users') }}</p>
            {% else %}
                <h2><i class="fa fa-users mr-2"></i> {{ _('View') }} {{ item_type_name }} {{ _('users') }}</h2>
                <p class="form-text">
                    {{ _('Only') }} {{ item_type_name }} {{ _('owners can manage user accesses') }}
                </p>
            {% endif %}
            <div class="container">
                <div>
                    <h2 class="mt-3 mb-3">
                        <a href="{{ url_for(read_endpoint, **read_kwargs) }}">{{ managed_item.name }}</a>
                    </h2>
                </div>
                <table class="table" id="accesses-table">
                    <thead>
                    <tr>
                        <th scope="col">{{ _('ID') }}</th>
                        <th scope="col">{{ _('First name') }}</th>
                        <th scope="col">{{ _('Last name') }}</th>
                        <th scope="col"><label for="ownership" class="mb-0">{{ _('Owner') }}</label></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for corpus_user in managed_item.users | sort(attribute='last_name') %}
                        <tr class="u-{{ corpus_user.id }}">
                            <td class="">
                                {{ corpus_user.id }}
                            </td>
                            <td class="">
                                {{ corpus_user.first_name }}
                            </td>
                            <td class="">
                                {{ corpus_user.last_name }}
                            </td>
                            <td class="">
                                <input type="checkbox" name="ownership" value="{{ corpus_user.id }}"
                                        {%- if managed_item.is_owned_by(corpus_user) %}
                                       checked
                                        {% endif %}
                                        {% if not can_edit %}
                                       disabled
                                        {% endif -%}
                                />
                            </td>
                            <td>
                                {% if can_edit %}
                                    <i class="fa fa-trash-o u-{{ corpus_user.id }}" aria-hidden="true" style="cursor: pointer"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if can_edit %}
                    <div class="container mt-3">
                        <div class="row">

                            <div class="col-md-9" style="padding: 0;">
                                <h3 class="mt-3"><i class="fa fa-user-plus mr-2"></i>{{ _('Grant access to a user') }}</h3>
                                <p>{{ _('The user will be able to use the post-correction tools but also grant and remove
                                    accesses to this') }} {{ item_type_name }}</p>

                                {{ search_user(roles) }}
                                {{ users_table(current_user, users, redirect=False) }}

                            </div>
                            <!-- Next needed ??? -->
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
        {% if can_edit %}
            <div id="hidden-inputs"></div>
            <input type="button" class="mt-5 mb-5 btn btn-primary" tabindex="-1" role="button" aria-disabled="true"
                   value="Save modifications" id="accesses-form-submit"/>
        {% endif %}
    </form>
</div>
{% endmacro %}

{% macro dashboard_javascript() %}
<script type="text/javascript">
    function add_access(user_data) {

        const user_id = $(user_data[0]).html().trim();
        let already_added = false;

        for (const tr of $("#accesses-table tr")) {
            const tds = $(tr).find('td');
            if (tds.length > 0) {
                if ($(tds[0]).html().trim() === user_id) {
                    already_added = true;
                    break;
                }
            }
        }

        // if clicked user is not already present in the users-table
        if (!already_added) {
            const firstname = $(user_data[1]).html().trim();
            const lastname = $(user_data[2]).html().trim();

            let new_row = "<tr>";
            new_row += "<td>" + user_id + "</td>";
            new_row += "<td>" + firstname + "</td>";
            new_row += "<td>" + lastname + "</td>";
            new_row += "<td><input type='checkbox' name='ownership' value='" + user_id + "'/></td>";
            new_row += '<td><i class="fa fa-trash-o u-'+user_id+'" aria-hidden="true" style="cursor: pointer"></i></td>';
            new_row += "</tr>";
            $("#accesses-table tr:last").after(new_row);

            // forbid users to remove the last owner
            $("#accesses-table tr:last td i.fa-trash-o").click(function () {
                remove_access($(this).closest("tr"));
            });

        }
    }

    function remove_access(tr) {
        $(tr).remove();
    }

    function clear_flash() {
        $("#flash").empty()
    }

    function set_flash(classes, msg) {
        $("#flash").prop("class", classes).text(msg);
    }

    $(document).ready(function () {


        $('#users-table tr').click(function () {
            add_access($(this).find('td'));
        });

        // forbid users to remove the last owner
        $("#accesses-table td i.fa-trash-o").click(function () {
            remove_access($(this).closest("tr"));
        });

        // set the hidden inputs with the users id
        $('#accesses-form-submit').click(function () {
            if ($("input[name='ownership']:checked").length < 1) {
                set_flash("alert alert-danger mt-3 mb-3", "You cannot remove the last owner of a corpus. Please add an owner to this corpus.");
            }
            else {
                clear_flash();
                // reset the hidden inputs
                $("#hidden-inputs").empty();
                // add children
                $('#accesses-table tr ').each(function () {
                    const id_tds = $(this).find('td:first');
                    for (const id of id_tds) {
                        $("#hidden-inputs").append(
                            "<input type='hidden' name='user_id' value='" + id.textContent + "'/>"
                        );
                    }
                });
                //submit
                $('#accesses-form').submit();
            }

        });
    });
</script>
{% endmacro %}