{# This macro is called on the user dashboards. In this case the administrator dashboard
   at the route admin.index
#}

{% macro render_menu_items(endpoints) %}
    {% for endpoint, name, icon in endpoints %}
        <span class="nav-item"><a class="navbar-brand {% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">
            {% if icon %}
                <i class="{{ icon }}"  aria-hidden="true"></i>
            {% endif %}
            {{ name | safe }}
        </a></span>
    {% endfor %}
{% endmacro %}

{# This is called for all users (including anonymous users). It renders the basic left side of the
   navigation bar. In the default case, the left hand side will read 'Flask-Base'. In the logged in
   admin case, there will also be an item that links to admin/ route. I have added an example use of
   render_menu_items.
#}

{% macro header_items(current_user) %}
    {% set endpoints = [
      ('main.index', config.APP_NAME, 'fa fa-home')
    ]%}
    {% set user = [] %}
    {% if current_user.is_authenticated %}
      {% set user = ([(current_user.role.index + '.dashboard', 'Dashboard', 'fa fa-bars')]) %}
    {% endif %}
    {{ render_menu_items( endpoints + user ) }}
{% endmacro %}

{# This renders the right hand side of the navigation bar. If the user is logged in, it links to
   manage their account and logout (account routes). Otherwise, it links to register and login.
#}
{% macro account_items(current_user) %}
    {% if current_user.is_authenticated %}
      {% set endpoints = [
        ('account.manage', 'Your Account', 'fa fa-user-circle'),
        ('account.logout', 'Log out', 'fa fa-sign-out')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% else %}
      {% set endpoints = [
        ('account.register', 'Register', 'fa fa-user-plus'),
        ('account.login', 'Log In', 'fa fa-sign-in')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% endif %}
{% endmacro %}

{% macro render_nav(current_user, corpora=[]) %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <!--
      <a class="navbar-brand" href="{{url_for("main.index")}}">Pandora Post-Correction Editor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      -->
      {{ header_items(current_user) }}

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" id="new_corpus_link" href="{{url_for("main.corpus_new")}}">New Corpus</a>
          </li>
          {% endif %}
            {% for corpus in corpora %}
              <li class="nav-item dropdown">
                <a id="toggle_corpus_{{corpus.id}}" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{corpus.name}}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" id="overview_{{corpus.id}}" href="{{url_for("main.corpus_get", corpus_id=corpus.id)}}">Overview</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" id="corpus_{{corpus.id}}_search_tokens" href="{{url_for("main.tokens_search_through_fields", corpus_id=corpus.id)}}">Search tokens</a>
                  <a class="dropdown-item" id="corpus_{{corpus.id}}_edit_tokens" href="{{url_for("main.tokens_edit", corpus_id=corpus.id)}}">Edit tokens</a>
                  <a class="dropdown-item" href="{{url_for("main.tokens_export", corpus_id=corpus.id)}}">Export tokens</a>
                  <a class="dropdown-item" href="{{url_for("main.tokens_history", corpus_id=corpus.id)}}">History</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{url_for("main.tokens_edit_unallowed", corpus_id=corpus.id, allowed_type='lemma')}}">Edit tokens with unallowed lemma</a>
                  <a class="dropdown-item" href="{{url_for("main.tokens_edit_unallowed", corpus_id=corpus.id, allowed_type='POS')}}">Edit tokens with unallowed POS</a>
                  <a class="dropdown-item" href="{{url_for("main.tokens_edit_unallowed", corpus_id=corpus.id, allowed_type='morph')}}">Edit tokens with unallowed morph</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{url_for("main.corpus_allowed_values", corpus_id=corpus.id, allowed_type='lemma')}}">Allowed lemma</a>
                  <a class="dropdown-item" href="{{url_for("main.corpus_allowed_values", corpus_id=corpus.id, allowed_type='POS')}}">Allowed POS</a>
                  <a class="dropdown-item" href="{{url_for("main.corpus_allowed_values", corpus_id=corpus.id, allowed_type='morph')}}">Allowed morph</a>
                </div>
              </li>
            {% endfor %}
        </ul>
      </div>

      {{ account_items(current_user) }}

    </nav>
{% endmacro %}


{% macro render_pagination(pagination, endpoint, corpus_id) %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=page, corpus_id=corpus_id, limit=pagination.per_page, **kwargs) }}">{{ page }}</a></li>
      {% else %}
        <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
      {% endif %}
    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    {% endif %}
  {%- endfor %}
  </ul>
</nav>
{% endmacro %}

{%- macro quick_nav(corpus) %}
    {%- if request.endpoint != 'main.tokens_edit' %}
        <div class="container-fluid">
            <nav style="margin-bottom: 10px;">
                <span class="btn btn-sm btn-link">Quick links :</span>
                <a class="btn btn-sm btn-info" href="{{ url_for("main.tokens_edit", corpus_id=corpus.id) }}">
                    <span class="fa fa-pencil"></span>
                    Edit tokens
                </a>
                <a class="btn btn-sm btn-info d-none" href="{{ url_for("main.tokens_edit", corpus_id=corpus.id) }}" id="last-edit-link">
                    <span class="fa fa-history"></span>
                    Last Edit tokens
                </a>
            </nav>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
               var last_page = localStorage.getItem("corpus-{{corpus.id}}");
               if (last_page) {
                   var lastLink = $("#last-edit-link");
                   lastLink.removeClass("d-none");
                   lastLink.attr("href", lastLink.attr("href")+"?page="+last_page);
               }
            });
        </script>
    {% endif %}
{%  endmacro %}