
{%- macro token_context(token, tag="b") %}
{{ token.left_context }} <{{tag}}>{{ token.form }}</{{tag}}> {{ token.right_context }}
{% endmacro -%}

{% macro table(tokens, corpus, changed, editable=False, tracking=False, checkbox=False, record=None, similar=False, current_user=False)%}
{% if editable %}
    {%- if checkbox %}
        <div>
            <h3>Save checked similar lemma</h3>
            <p>
                <a class="btn btn-primary save-lemma" href="{{url_for("main.tokens_correct_from_record", corpus_id=corpus.id, record_id=record.id)}}">Save</a> -
                <a class="btn btn-secondary select-lemma" href="#">Select All</a> -
                <a class="btn btn-secondary deselect-lemma" href="#">Deselect All</a>
            </p>
        </div>
    {% endif -%}

    <div class="alert alert-success" style="display:none;" id="tokens-success"></div>
    <div class="alert alert-danger" style="display:none;" id="tokens-error">An error occured. Contact the administrator
        with all the information you can so they can replicate your error.</div>

    <table class="table table-bordered">
        <thead>
        <tr><th>Id</th><th>Form</th><th>Lemma</th><th>POS</th><th>Morph</th><th>Context</th>
                {%- if similar %}<th>Similar</th>{% endif -%}<th>Save</th>{% if not checkbox %}<th class="dd">+</th>{% endif %}</tr>
        </thead>
        <tbody>
            {% for token in tokens.items %}
                <tr class="editable{% if token.id in changed %} table-changed{% endif %} token-anchor {% if current_user and current_user.bookmark.token_id == token.id %}bookmark{% endif %}" data-token-order="{{ token.order_id }}" id="token_{{token.id}}_row">
                    <td class="tok-anc"><a tabindex="-1" href="#tok{{ token.order_id }}" id="tok{{ token.order_id }}">{{ token.order_id }}</a></td>
                    <td>{{token.form}}</td>
                    <td {% if not checkbox %}contenteditable="true" class="token_lemma typeahead"{% endif %}>{{token.lemma}}</td>
                    <td {% if not checkbox %}contenteditable="true" class="token_pos"{% endif %}>{{token.POS}}</td>
                    <td {% if not checkbox %}contenteditable="true" class="token_morph"{% endif %}>{{token.morph}}</td>
                    <td class="small">{{token_context(token)}}</td>
                    {%- if similar -%}
                        <td><a tabindex="-1" class="similar-link" href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='partial')}}"><span class="badge badge-secondary">{{token.similar}}</span></a></td>
                    {%- endif -%}
                    {%- if checkbox -%}
                        <td><input class="form-check word-token" type="checkbox" checked="checked" value="{{token.id}}" /></td>
                    {%- else -%}
                        <td class="save"><a class="save" href="{{url_for("main.tokens_correct_single", corpus_id=corpus.id, token_id=token.id)}}">Save</a></td>
                        <td class="dd">
                          <a id="dd_t{{token.order_id}}" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="More options" tabindex="-1">
                            <i class="fa fa-plus-square"></i>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dd_t{{token.order_id}}">
                            <a class="dropdown-item" href="{{ url_for('main.tokens_edit_form', corpus_id=corpus.id, token_id=token.id) }}">Edit the form</a>
                            <a class="dropdown-item" href="{{ url_for('main.tokens_del_row', corpus_id=corpus.id, token_id=token.id) }}">Delete the row</a>
                            <a class="dropdown-item" href="{{ url_for('main.tokens_add_row', corpus_id=corpus.id, token_id=token.id) }}">Add a token after this one</a>
                            <a class="dropdown-item bookmark" href="{{ url_for('main.corpus_bookmark', corpus_id=corpus.id, token_id=token.id, page=tokens.page) }}">Set as bookmark</a>
                          </div>
                        </td>
                    {%- endif -%}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if checkbox %}
    <script type="text/javascript">
    $(document).ready(function(){
        // Add Class
        $(".select-lemma").on("click", function(event) {
            event.preventDefault();
            $('.word-token').prop('checked', true);
        });
        $(".deselect-lemma").on("click", function(event) {
            event.preventDefault();
            $('.word-token').prop('checked', false);
        });
        $('.save-lemma').on("click", function (event) {
            event.preventDefault();
            var al = document.getElementById("tokens-success"),
                er = document.getElementById("tokens-error");

            al.style.display = "none";
            er.style.display = "none";


            var selected_tokens = $.map($(".word-token:checked"), function(elem) { return $(elem).val(); });
            jQuery.ajax({
                url: event.target.href,
                type: 'POST',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    word_tokens: selected_tokens
                }),
                success:function(response){
                    al.innerText = response.length + " tokens edited.";
                    al.style.display = "block";

                    for (var i=0; i < response.length; i++) {
                        document.getElementById("token_" + response[i]["id"] + "_row").remove();
                    }
                },
                error:function(jq, response, errorThrown){
                    er.style.display = "block";
                }
            });
        });
    });
    </script>
    {% else %}
    <script type="text/javascript">
    $(document).ready(function(){
        var clear_br = function (elem) {
            elem.find("br").remove();
        };
        var original = $.fn.val;
        $.fn.val = function() {
            if ($(this).is('*[contenteditable=true]')) {
                return $.fn.html.apply(this, arguments);
            }
            return original.apply(this, arguments);
        };
        var cleanUp = function(string) {
            return $("<div>"+string+"</div>").text().toLowerCase().trim();
        };
        $('td.token_lemma').autoComplete({
            minChars: 1,
            source: function(term, suggest){
                var url = "{{corpus.allowed_search_route('lemma')}}?form="+cleanUp(term);
                $.getJSON(url, function(data) {
                    suggest(data);
                });
            },
            onSelect: function(e, term, item){
                var elem = $(this);
                elem.val(item.data("value"));
                clear_br(elem);
            }
        });
        $('td[contenteditable="true"]').on("keyup", function(e){
            if (e.keyCode == 13)  {
                $(this).html($(this).text())
            }
        });
        $('td.token_pos').autoComplete({
            minChars: 1,
            source: function(term, suggest){
                var url = "{{corpus.allowed_search_route('POS')}}?form="+cleanUp(term);
                $.getJSON(url, function(data) {
                    suggest(data);
                });
            },
            onSelect: function(e, term, item){
                var elem = $(this);
                elem.val(item.data("value"));
                clear_br(elem);
            }
        });
        $('td.token_morph').autoComplete({
            minChars: 1,
            source: function(term, suggest){
                var url = "{{corpus.allowed_search_route('morph')}}?form="+cleanUp(term);
                $.getJSON(url, function(data) {
                    suggest(data);
                });

            },
            renderItem: function (item, search){
                return '<div><a class="autocomplete-suggestion" data-val="'+item.value+'" title="'+item.label+'">'+item.label+'</a></div>';
            },
            onSelect: function(e, term, item){
                var elem = $(this);
                elem.val(item.data("value"));
                clear_br(elem)
            }
        });
        $('.editable a.save').on("click", function (event) {
            event.preventDefault();
            var link = $(this),
                parent = link.parents("tr.editable"),
                spinner = $('<span><i class="fa fa-spin fa-spinner"></i>&nbsp;</span>');
            link.parent().find(".badge-status").remove();
            link.before(spinner);
            //link.text("(Saving) Save");
            jQuery.ajax({
                url: event.target.href,
                type: 'POST',
                data: {
                    lemma: parent.find(".token_lemma").text().trim(),
                    POS: parent.find(".token_pos").text().trim(),
                    morph: parent.find(".token_morph").text().trim()
                }
            }).done(function(response){
                    if(response.similar.count > 0) {
                        link.parent().append("<a class='similar-link badge badge-primary' href='"+response.similar.link+"'> "+response.similar.count+" similar to see</a>");
                    }
                    parent.addClass("table-changed");
                    link.parent().append('<span class="badge badge-success badge-status">Saved</span>');
            }).fail(function(jqXHR){
                link.parent().append('<span class="badge badge-danger badge-status">'+jqXHR.responseJSON.message+"</span>");
                $.each(jqXHR.responseJSON.details, function(key, status) {
                    var selector = ".token_"+key.toLowerCase();
                    if (status === false) { parent.find(selector).addClass("table-danger"); }
                    else { parent.find(selector).removeClass("table-danger");  }
                });
            }).always(function() {
                spinner.remove();
            });
        });
    });
    </script>
    {% endif %}
{% elif tracking %}
    <table class="table table-bordered table-xs">
        <thead>
            <tr class="history">
                <th>User</th>
                <th>Edit</th>
                <th class="line">Context</th>
                <th>Old Lemma</th>
                <th class="line">Corr Lemma</th>
                <th>Previous POS</th>
                <th class="line">Actual POS</th>
                <th>Previous Morph</th>
                <th class="line">Actual Morph</th>
                <th>Similar</th>
            </tr>
        </thead>
        <tbody>
            {% for token in tokens.items %}
                <tr class="history">
                    <td class="detail">{{ token.user.first_name[0] }}.{{ token.user.last_name }}</td>
                    <td class="detail datetime">{{token.created_on}}</td>
                    <td class="detail text">{{token_context(token.word_token, "b")}}</td>
                    <td class="{% if token.lemma != token.lemma_new%}red{%endif%}">{{token.lemma}}</td>
                    <td class="line {% if token.lemma != token.lemma_new%}green{%endif%}">{{token.lemma_new}}</td>
                    <td class="{% if token.POS != token.POS_new%}red{%endif%}">{{token.POS}}</td>
                    <td class="line {% if token.POS != token.POS_new%}green{%endif%}">{{token.POS_new}}</td>
                    <td class="{% if token.morph != token.morph_new%}red{%endif%}">{{token.morph}}</td>
                    <td class="line {% if token.morph != token.morph_new%}green{%endif%}">{{token.morph_new}}</td>
                    <td>
                        <a href="{{url_for('main.tokens_similar_to_record', corpus_id=corpus.id, record_id=token.id)}}" class="badge badge-info">
                        {{token.similar_remaining}} similar</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript" src="{{url_for('static', filename='js/moments.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            document.querySelectorAll(".datetime").forEach((element) => {
               element.innerText = moment(element.innerText.split(" ").join("T")+"Z").format("lll");
            });
        });
    </script>
{% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Form</th><th>Lemma</th><th>POS</th><th>Morph</th><th>Context</th>
            </tr>
        </thead>
        <tbody>
            {% for token in tokens.items %}
                <tr class="editable">
                    <td>{{token.form}}</td>
                    <td class="token_lemma">{{token.lemma}}</td>
                    <td class="token_pos">{{token.POS}}</td>
                    <td class="token_morph">{{token.morph}}</td>
                    <td class="small">{{token_context(token)}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endmacro %}