
{%- macro token_context(token) %}
{{ token.left_context }} <b>{{ token.form }}</b> {{ token.right_context }}
{% endmacro -%}

{% macro table(tokens, corpus, editable=False, tracking=False, checkbox=False, record=None, similar=False) %}
{% if editable %}
    {%- if checkbox %}
        <div>
            <h3>Save checked similar lemma</h3>
            <p>
                <a class="btn btn-primary save-lemma" href="{{url_for("main.tokens_edit_from_record", corpus_id=corpus.id, record_id=record.id)}}">Save</a> -
                <a class="btn btn-secondary select-lemma" href="#">Select All</a> -
                <a class="btn btn-secondary deselect-lemma" href="#">Deselect All</a>
            </p>
        </div>
    {% endif -%}

    <table class="table table-bordered">
        <thead>
            <tr><th>Id</th><th>Form</th><th>Lemma</th><th>POS</th><th>Morph</th><th>Context</th>
                {%- if similar %}<th>Similar</th>{% endif -%}<th>Save</th></tr>
        </thead>
        <tbody>
            {% for token in tokens.items %}
                <tr class="editable{% if token.changed %} table-changed{% endif %} token-anchor" data-token-order="{{ token.order_id }}" id="token_{{token.id}}_row">
                    <td class="tok-anc"><a href="#tok{{ token.order_id }}" id="tok{{ token.order_id }}">{{ token.order_id }}</a></td>
                    <td>{{token.form}}</td>
                    <td {% if not checkbox %}contenteditable="true" class="token_lemma typeahead"{% endif %}>{{token.lemma}}
                    </td>
                    <td {% if not checkbox %}contenteditable="true" class="token_pos"{% endif %}>{{token.POS}}</td>
                    <td {% if not checkbox %}contenteditable="true" class="token_morph"{% endif %}>{{token.morph}}</td>
                    <td class="small">{{token_context(token)}}</td>
                    {%- if similar %}<td><a class="similar-link" href="{{url_for('main.tokens_similar_to_token', token_id=token.id, corpus_id=corpus.id, mode='partial')}}"><span class="badge badge-secondary">{{token.similar}}</span></a></td>{% endif -%}
                    {%- if checkbox %}<td><input class="form-check word-token" type="checkbox" checked="checked" value="{{token.id}}" /></td>
                    {% else%}<td><a class="save" href="{{url_for("main.tokens_edit_single", corpus_id=corpus.id, token_id=token.id)}}">Save</a></td>
                    {% endif%}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if checkbox %}
    <script type="text/javascript">
    $(document).ready(function(){
        // Add Class
        $(".select-lemma").on("click", function(event) {
            event.preventDefault();
            $('.word-token').prop('checked', true);
        });
        $(".deselect-lemma").on("click", function(event) {
            event.preventDefault();
            $('.word-token').prop('checked', false);
        });
        $('.save-lemma').on("click", function (event) {
            event.preventDefault();

            var selected_tokens = $.map($(".word-token:checked"), function(elem) { return $(elem).val(); });
            jQuery.ajax({
                url: event.target.href,
                type: 'POST',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    word_tokens: selected_tokens
                }),
                success:function(response){
                    location.reload();
                },
                error:function(jq, response, errorThrown){
                    location.reload();
                }
            });
        });
    });
    </script>
    {% else %}
    <script type="text/javascript">
    $(document).ready(function(){
        var clear_br = function (elem) {
            elem.find("br").remove();
        };
        var sanitize = function (val) {
            val = val.replace(/[<]br[^>]*[>]/gi,"").replace(/[&]nbsp[;]/gi," ");
            return val.toLowerCase();
        };
        var original = $.fn.val;
        $.fn.val = function() {
            if ($(this).is('*[contenteditable=true]')) {
                return $.fn.html.apply(this, arguments);
            };
            return original.apply(this, arguments);
        };
        $('td.token_lemma').autoComplete({
            minChars: 1,
            source: function(term, suggest){
                var term = $("<div>"+term+"</div>").text().toLowerCase(),
                    url = "{{corpus.allowed_search_route('lemma')}}?form="+term;
                $.getJSON(url, function(data) {
                    suggest(data);
                });

            }
        });
        $('td[contenteditable="true"]').on("keyup", function(){
            clear_br($(this));
        });
        $('td.token_pos').autoComplete({
            minChars: 1,
            source: function(term, suggest){
                var term = term.toLowerCase(),
                    url = "{{corpus.allowed_search_route('POS')}}?form="+term;
                $.getJSON(url, function(data) {
                    suggest(data);
                });

            }
        });
        $('td.token_morph').autoComplete({
            minChars: 1,
            source: function(term, suggest){
                var term = sanitize(term),
                    url = "{{corpus.allowed_search_route('morph')}}?form="+term;
                $.getJSON(url, function(data) {
                    suggest(data);
                });

            },
            renderItem: function (item, search){
                return '<div><a class="autocomplete-suggestion" data-val="'+item.value+'" title="'+item.label+'">'+item.label+'</a></div>';
            },
            onSelect: function(e, term, item){
                var elem = $(this);
                elem.val(item.data("value"));
                clean_br(elem)

            }
        });

        $('.editable a.save').on("click", function (event) {
            event.preventDefault();
            var link = $(this),
                parent = link.parents("tr.editable"),
                spinner = $('<span><i class="fa fa-spin fa-spinner"></i>&nbsp;</span>');

            link.before(spinner);
            //link.text("(Saving) Save");
            jQuery.ajax({
                url: event.target.href,
                type: 'POST',
                data: {
                    lemma: parent.find(".token_lemma").text(),
                    POS: parent.find(".token_pos").text(),
                    morph: parent.find(".token_morph").text()
                }
            }).done(function(response){
                    if(response.similar.count > 0) {
                        link.parent().append("<a class='similar-link' href='"+response.similar.link+"'> "+response.similar.count+" similar to see</a>");
                    }
                    parent.addClass("table-changed");
                    link.text("(Saved) Save");
            }).fail(function(jqXHR){
                link.text("(" + jqXHR.responseJSON.message + ") Save");
                $.each(jqXHR.responseJSON.details, function(key, status) {
                    var selector = ".token_"+key.toLowerCase();
                    if (status === false) { parent.find(selector).addClass("table-danger"); }
                    else { parent.find(selector).removeClass("table-danger");  }
                });
            }).always(function() {
                spinner.remove();
            });
        });
    });
    </script>
    {% endif %}
{% elif tracking %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Edit</th>
                <th>Form</th>
                <th>Context</th>
                <th>Lemma</th><th>POS</th><th>Morph</th>
                <th>Corr Lemma</th><th>Corr POS</th><th>Corr Morph</th>
                <th>Similar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for token in tokens.items %}
                <tr>
                    <td class="small">{{ token.user.first_name[0] }}.{{ token.user.last_name }}</td>
                    <td class="small">{{token.created_on}}</td>
                    <td>{{token.form}}</td>
                    <td class="small">{{token_context(token.word_token)}}</td>
                    <td class="bg-warning">{{token.lemma}}</td>
                    <td class="bg-warning">{{token.POS}}</td>
                    <td class="bg-warning">{{token.morph}}</td>
                    <td class="bg-info">{{token.lemma_new}}</td>
                    <td class="bg-info">{{token.POS_new}}</td>
                    <td class="bg-info">{{token.morph_new}}</td>
                    <td>{{token.similar_remaining}}</td>
                    <td><a href="{{url_for("main.tokens_similar_to_record", corpus_id=corpus.id, record_id=token.id)}}">Find Similar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Form</th><th>Lemma</th><th>POS</th><th>Morph</th><th>Context</th>
            </tr>
        </thead>
        <tbody>
            {% for token in tokens.items %}
                <tr class="editable">
                    <td>{{token.form}}</td>
                    <td class="token_lemma">{{token.lemma}}</td>
                    <td class="token_pos">{{token.POS}}</td>
                    <td class="token_morph">{{token.morph}}</td>
                    <td class="small">{{token_context(token)}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endmacro %}