{% macro render_flashes(class, category) %}
    {% with msgs = get_flashed_messages(category_filter=[category]) %}
        {% for msg in msgs %}
            <div class="alert alert-{{ class }}">
                {{ msg }}
            </div>
        {% endfor %}
    {% endwith %}
{% endmacro %}

<div class="container">
    <div class="flashes">
        {{ render_flashes('danger', 'error') }}
        {{ render_flashes('warning', 'warning') }}
        {{ render_flashes('info', 'info') }}
        {{ render_flashes('success', 'success') }}
    </div>
</div>
