<meta name="charset" content="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block page_title %}{{ config.APP_NAME }}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typeaheadjs.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.js') }}"></script>

<style type="text/css">

    {% if config.ENV == 'production' %}
        {% set THEME_COLOR="#B4061F" %}
    {% else %}
        {% set THEME_COLOR="#3E606F" %}
    {% endif %}

    h1, h2, h3, h4 { color: {{THEME_COLOR}}; }
    .bg-dark, .navbar-dark { background-color : {{THEME_COLOR}}!important; }
    .hidden-default  { display: none; }
    fieldset.form-fieldset {
        border: 1px groove {{THEME_COLOR}} !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        border-radius: 1em;
    }

    .form-fieldset > legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
    h1 > a, h2 > a, h3 > a {
        color:inherit!important;
    }
    .form-check-label {
        font-weight: bold;
        color: {{THEME_COLOR}};
    }
    .table td, .table th {
        padding: .5rem !important;
    }
    td.dd, th.dd {
        text-align: center;
    }
</style>